

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.option {
    width: 200px;
}

#wave_1 {
    margin-top: 100px;
    height: 125px;
}

#main_container {
    position: relative;
    background: #6E85B2;
    margin: 0;
    padding: 0;
    bottom: 20px;
}

#main_title {
    text-decoration: underline;
    color: snow;
    text-align: center;
}

.resized {
    width: 670px;
    max-width: 90%;
    margin: 0 auto;
}
