

.header {
    background: #261C2C;
    padding: 0;
}

.navbar-nb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: baseline;
    padding: 0.8rem 0;
}

.navbar-nb > * {
    font-size: 1rem;
    text-decoration: none;
    color: snow;
    padding: 0;
    margin: 0;
}

.navbar-nb > a:hover {
    text-decoration: underline;
    color: snow;
}

#title {
    font-weight: 700;
    /* test */
}

@media screen and (max-width: 360px) {
    .navbar-nb {
        width: 95%;
    }
}
