

#footer_container {
    position: relative;
    width: 100vw;
    background: #261C2C;
    min-height: 50px;
    color: snow;
    padding: 1.5rem 0;
}

#footer_container > #footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
